body{
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 5px;
}

header{
    background-color: green;
    line-height: 120px;
    min-height: 120px;
    color: white;
    text-align: center;
    font-size: 200%;
    border-radius: 50px;
    border: 3px solid lightgreen;
}

footer{
    background-color: black;
    color: white;                                                                                                                                                                                                                                                                                                                                                                       
    font-size: 80%;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px;
}

main{
    padding: 10px;
}

.idezet img{
    float: right;
    width: 30%;
    margin: 1%;
}

.idezet p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    border-radius: 20px;
    padding: 15px;
    margin-right: 35%;  
}

.idezet{
    border: 3px solid red;
    padding-bottom: 8%;
    background-color: lightcoral;
}

table td{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 20px;
    border: 2px solid red;
    background-color: lightcoral;
}

.elkeszites p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.hozzavalok img{
    float: right;
    width: 25%;
    margin: 1%;
}

.mikulas p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.mikulas img{
    float: right;
    width: 40%;
    margin: 1%;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover{
    color: red;
}